<!DOCTYPE html>
<html>
  <head>
    <title>Facebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'%>
  </head>

  <body>
    <nav class="nav">
      <ul class='list'>

        <div class='left'>
          <li class='navBar'> 
            <h1> <%= link_to 'Facebook', root_path, class:'navBar Facebook' %> </h1> 
          </li>
        </div>

        <% if user_signed_in? %>
          <div class='right'> 
            <li class='navBar right'> <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:'navBar' %> </li>
          </div>
        <% end %>

      </ul>
    </nav>
    <div class='all'>
    <% if flash[:notice] %>
      <div class="notification is-primary">
        <p class="notice"> <%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"> <%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
